/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  body {
    margin-left: 10%;
    margin-right: 5%;
    font-family: 'Libre Baskerville', serif;
  }
  a {
    color: black;
    background: #ffffff;
    margin-top: 1em;
    padding: 5px 10px 5px 10px;
    border: solid #949494 1px;
    text-decoration: none;
  }
  a:hover {
    color: white;
    background: #adadad;
    text-decoration: none;
  }
 .image {
   width: 100%;
 }
 .float-right {
   float: right;
 }
 @media screen and (min-width: 700px) {
   .headline-image {
     float: left;
     padding-right: 2em;
     height: 200px;
   }
   .row {
     clear: both;

   }
   .column {
     float: left;
     width: 30%;
     padding-right: 2em;
     max-height: 700px;
     overflow: scroll;
   }
   .spanABTop {
     float: left;
     width: 100%;
     padding-bottom: 2em;
   }
   .item {
     margin-top: 2em;
     margin-right: 1em;
   }
   .headline {
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    padding-bottom: 0.2em;
   }
   .main-headline {
    font-size: 3em;

   }
   .byline {
     font-size: small;
     color: grey;
     padding-bottom: 0.2em;
   }
   .summary {
    font-size: small;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 0.5em;
   }

}
@media screen and (max-width: 700px) {
  .headline-image {
    width: 100%;
  }
  .row {
    clear: both;
  }
  .column {
    float: left;
    width: 100%;
  }
  .spanABTop {
    float: left;
    width: 100%;
  }
  .item {
    margin-top: 2em;
    margin-right: 1em;
  }
  .headline {
   font-size: x-large;
   font-weight: bold;
   font-style: oblique;
   padding-bottom: 0.5em;
  }
  .byline {
    font-size: small;
    color: grey;
    padding-bottom: 0.2em;
  }
  .summary {
   font-size: small;
   text-align: justify;
   text-justify: inter-word;
   padding-bottom: 0.5em;
  }

}
